<div class="mb-3">
  <label for="filterText" class="form-label">Ürün bul</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="ürün...">
</div>
<div *ngIf ="filterText.length>2" class="alert alert-warning">
  {{filterText}} aradınız.
</div>

<ul class="list-group">
  <li [class]="getAllBrandClass()" routerLink="/cars">Tüm ürünler</li>
  <!--burdaki  [] kodu ile metot çağırma işlemi yapabiliyoruz.-->
  <li (click)="setCurrentBrand(brand)"
  routerLink="/cars/brands/{{brand.brandId}}"
  *ngFor="let brand of brands | filterPipeBrand : filterText" [class]="getCurrentBrandClass(brand)">{{brand.brandName}}
  </li>
</ul>

<h5 *ngIf="currentBrand">{{currentBrand.brandName}} seçtiniz</h5>

<div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status"> <!--dataLoaded, yine diğer sayfadan geliyor-->
  <span class="visually-hidden">Loading...</span>
</div>  
<table *ngIf="dataLoaded==true" class="table">
  <thead>
      <tr>
          <th>Marka id</th>
          <th>Marka adı</th>
          <th></th>
          <th></th>
      </tr>
  </thead>
  <tr *ngFor="let brand of brands">
      <td>{{brand.brandId}}</td>
      <td>{{brand.brandName}}</td>
      <button routerLink="/brand-add" type="button" class="btn btn-info">Yeni Ekle</button>
      <button routerLink="/brands/update/{{brand.brandId}}" type="button" class="btn btn-info">Güncelle</button>
  </tr>
</table>