<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Ödeme</h5></div>
            <div class="card-body">
                <form>
                    <input class="form-control" type="text" placeholder="Kart üzerindeki isim" aria-label="Kart üzerindeki isim">
                    <input class="form-control" type="number" placeholder="1234-1234-1234-1234" aria-label="1234-1234-1234-1234">
                    <input class="form-control" type="number" placeholder="***" aria-label="***">
               </form>
            </div>
            <div class="card-foter">
                <button type="button" class="btn btn-primary">Öde</button>
            </div>
        </div>
    </div>
</div>