<div class="mb-3">
    <label for="filterText" class="form-label">Ürün bul</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="ürün...">
</div>
<div *ngIf ="filterText.length>2" class="alert alert-warning">
    {{filterText}} aradınız.
</div>

<div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status"> <!--dataLoaded, yine diğer sayfadan geliyor-->
    <span class="visually-hidden">Loading...</span>
</div>  
<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marka adı</th>
            <th>Renk adı</th>
            <th>Model yılı</th>
            <th>Günlük fiyat</th>
            <th>KDV'li fiyat</th>
            <th>Açıklama</th>
            <th>Findex</th>
            <th>Min findex</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars  | filterPipe : filterText">
          <td (click)="setCurrentCar(car)" routerLink="/cars/cardetails/{{car.id}}">{{car.id}}</td>
          <td (click)="setCurrentCar(car)" routerLink="/cars/cardetails/{{car.id}}">{{car.brandName}}</td>
          <td>{{car.colorName}}</td>
          <td>{{car.modelYear}}</td>
          <td>{{car.dailyPrice}}</td>
          <td>{{car.dailyPrice | vatAdded:18 | currency}}</td>
          <td>{{car.description}}</td>
          <td>{{findex}}</td>
          <td>200</td>
          <td><button (click)="addToCart(car)" type="button" class="btn btn-success btn-xs" *ngIf="findex > 200">Kirala</button></td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Bilgiler</button>
                <ul class="dropdown-menu">
                  <li><a (click)="getCarsByBrandId(car.brandId)" class="dropdown-item">{{car.brandName}}</a></li>
                  <li><a (click)="getCarsByColorId(car.colorId)" routerLink="/cars/colors/{{car.colorId}}" class="dropdown-item">{{car.colorName}}</a></li>
                </ul>
            </div>
          </td>
          <button routerLink="/car-add" type="button" class="btn btn-info">Yeni Ekle</button>
          <button routerLink="/cars/update/{{car.id}}" type="button" class="btn btn-info">Güncelle</button>
      </tr>
    </tbody>
</table>