<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Ürün ekle</h5></div>
            <div class="card-body">
                <form [formGroup]="colorAddForm">
                    <div class="mb-3">
                        <label for="productName">Renk Id</label>
                        <div class="form-group">
                            <input type="number" id="colorId" formControlName="colorId" class="form-control" placeholder="Renk Id"/>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="categoryId">Renk Adı</label>
                        <div class="form-group">
                            <input type="text" id="colorName" formControlName="colorName" class="form-control" placeholder="Renk Adı"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-foter">
                <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
            </div>
        </div>
    </div>
</div>